{% extends "recipes/base.html" %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<img src="{{ recipe.image }}" alt="{{ recipe.title }}" width="300">

<h2>Ingredients:</h2>
<ul>
    {% for ingredient in recipe.extendedIngredients %}
    <li>{{ ingredient.original }}</li>
    {% endfor %}
</ul>

<h2>Instructions:</h2>
<p>{{ recipe.instructions|safe }}</p>

<h2>Nutrition:</h2>
<ul>
    <li>Calories: {{ recipe.nutrition.nutrients.0.amount }} {{ recipe.nutrition.nutrients.0.unit }}</li>
    <li>Protein: {{ recipe.nutrition.nutrients.1.amount }} {{ recipe.nutrition.nutrients.1.unit }}</li>
    <li>Fat: {{ recipe.nutrition.nutrients.2.amount }} {{ recipe.nutrition.nutrients.2.unit }}</li>
    <li>Carbs: {{ recipe.nutrition.nutrients.3.amount }} {{ recipe.nutrition.nutrients.3.unit }}</li>
</ul>

<!-- <a href="{% url 'search_by_nutrients' %}">Back to Search</a> -->
{% endblock %}
